@import 'variables';
.card__courses-item {
    margin-top: 10px;
}

.btn-learn-now {
    height: 30px;
    width: 142px;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #28a745;
}