<div class="mt-4">
    <form method="POST" action="">
  <div class="form-group">
    <label for="search-input">KeyWord:</label>
    <input type="text" name="query" class="form-control" id="search-input" placeholder="Enter keyword...">
  </div>
  
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>